<div class="navigation">
    <div class="logo">
      <b>QA</b>
      <p>ENGINE</p>
    </div>
    <div class="nav-bar">
      <div class="nav-bar nav-middle">
        <div class="search">
          <input class="input-text" type="text" name="fname" placeholder="Enter Keyword">
          <figure class="magnifying-glass icon"></figure>
        </div>
        <div class="nav-links">
          <ul class="nav-ul">
            <li>
              <a href="./index.html">
                <div class="text-with-icon">Home</div>
              </a>
            </li>
            <li>
              <a class=""><div class="text-with-icon expand-icon">About us</div></a>
            </li>
            <li>
              <a href="#">
                <div class="text-with-icon">Blog</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="text-with-icon">Term</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="text-with-icon">Contact</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="login"><a href="" class="link">Login or Register</a></div>
    </div>
  </div>
