.main-page {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  padding: 50px;
  margin: 50px;
  border: 2px solid rgba(163, 167, 175, 0.5);
  border-radius: 10px;
}
 
.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(238, 241, 241);
  border-width: 0 0 2px 2px;
}

.category-picker-headline {
  align-self: center;
  font-weight: 500;
}

.category-title {
  margin-right: 10px;
  font-weight: lighter;
}

.filter-select {
  width: 200px;
}

.filter-select,
.questions-per-page {
  padding: 5px;
  font-size: 12px;
}

.selected-category {
  display: flex;
  justify-content: space-between;
}

.category-selection-wraper {
  display: flex;
  align-items: center;
}

.questions-per-page {
  width: 50px;
  align-self: flex-end;
  margin-left: 10px;
}

.drop-down select {
  background-color: rgb(163, 167, 175, 0.1);
}


