@import '../../../styles/variables'; 
.main-page {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
    width: 100%;
    position: relative;  
  } 

  .category-picker-headline {
    align-self: center;
    font-weight: 500;
  }

  @media only screen and (max-width: 650px) {

    .main-content {
      margin-left: 0;
    }
  }
