<article class="article-container">
  <div class="question-container">
    <a href="../views/edit-post.html?id=0" class="redirect-to-post" id="0"
      ><h4 class="question-header">
        {{ data.title }}
      </h4>
      <p class="regular-text">{{ data.content }}</p></a
    >
<app-article-tags></app-article-tags>
    <div class="user-info-container">
      <figure>
        <img
          src="https://randomuser.me/api/portraits/lego/0.jpg"
          alt="Lego User"
          class="user-image"
        />
      </figure>
      <p class="regular-text user-name">{{ data.author }}</p>
      <div class="user-tag">{{ data.userTag }}</div>
      <div class="question-details regular-text">
        <p>Asked on {{ data.date }} in</p>
        <a class="link" href="#">{{ data.category }}</a>
      </div>
    </div>
  </div>
  <div class="question-info-container">
    <div>
      <div class="info-label"><div class="inside-animation">70</div></div>
      <p class="regular-text">Views</p>
    </div>
    <div>
      <div class="info-label"><div class="inside-animation">3</div></div>
      <p class="regular-text">Answers</p>
    </div>
    <div>
      <div class="info-label"><div class="inside-animation">0</div></div>
      <p class="regular-text">Votes</p>
    </div>
  </div>
</article>
