<footer class="footer">
  <div class="footer-column">
    <ul class="footer-ul">
      <li>
        <a href="./index.html">
          <div class="text-with-icon">Home</div>
        </a>
      </li>
      <li>
        <a class=""><div class="text-with-icon ">About us</div></a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Blog</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Term</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Contact</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-column">
    <ul class="footer-ul">
      <li>
        <a href="./index.html">
          <div class="text-with-icon">Something</div>
        </a>
      </li>
      <li>
        <a class=""><div class="text-with-icon ">Write Us</div></a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Visit Us</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Words</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Random Word</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-column">
    <ul class="footer-ul">
      <li>
        <a href="./index.html">
          <div class="text-with-icon">Privacy</div>
        </a>
      </li>
      <li>
        <a class=""><div class="text-with-icon ">Career</div></a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Something</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Lorem</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="text-with-icon">Ipsum</div>
        </a>
      </li>
    </ul>
  </div>
</footer>
