<article class="article-container">
    <div class="question-container">
      <a href="../views/edit-post.html?id=0" class="redirect-to-post" id="0"
        ><h4 class="question-header">
          {{ post.title }}
        </h4>
        <p class="regular-text">{{ post.content }}</p></a
      >
  <app-article-tags [tagsArray]="post.tags"></app-article-tags>
      <div class="user-info-container">
        <figure>
          <img
            src="{{ post.photo }}"
            alt="Lego User"
            class="user-image"
          />
        </figure>
        <p class="regular-text user-name">{{ post.author }}</p>
        <div class="user-tag">{{ post.userTag }}</div>
        <div class="question-details regular-text">
          <p>Asked on {{ post.date }} in</p>
          <a class="link" href="#">{{ post.category }}</a>
        </div>
      </div>
    </div>
    <app-article-statistics [post]="post"></app-article-statistics>

  </article>
  