<aside class="side-container">
  <div class="ask-question-container">
    <a href="../views/edit-post.html">
      <div class="btn-blue">+ ASK A QUESTION</div>
    </a>
  </div>
  <div class="left-container">
    <a href="./index.html" class="text-with-icon pseudo-icon question-mark"
      >All Questions</a
    >
    <a
      href="./New Questions.html"
      class="text-with-icon pseudo-icon question-mark"
      >New Questions</a
    >
    <a class="text-with-icon pseudo-icon tag-icon">Tags</a>
    <a class="text-with-icon pseudo-icon badge-icon ">Badges</a>
    <a class="text-with-icon pseudo-icon category-icon">Categories</a>
    <a class="text-with-icon pseudo-icon users-icon">Users</a>
  </div>
  <div class="social-media">
    <div class="social-icon facebook-icon"></div>
    <div class="social-icon twiter-icon"></div>
    <div class="social-icon google-icon"></div>
  </div>
  <div class="copyright-container">
    <p class="regular-text">© 2015 Enginethemes</p>
    <a href="#" class="link">Terms &amp; Privacy</a>
  </div>
</aside>
