<aside class="container-right">
    <div class="right-top-container">
      <h3>Questions</h3>
      <p class="big-number">13</p>
    </div>
    <div class="right-top-container">
      <h3>Members</h3>
      <p class="big-number">8</p>
    </div>
    <div class="right-side-container">
      <div class="right-headline">
        <h4>MOST USED TAGS</h4>
      </div>

      <div class="right-tag-container">
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">busines</div>
          </div>
          <p class="regular-text">x 5</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">marketing</div>
          </div>
          <p class="regular-text">x 5</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">google</div>
          </div>
          <p class="regular-text">x 4</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">technology</div>
          </div>
          <p class="regular-text">x 4</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">apps</div>
          </div>
          <p class="regular-text">x 4</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">bilionaire</div>
          </div>
          <p class="regular-text">x 3</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">movie</div>
          </div>
          <p class="regular-text">x 2</p>
        </div>
        <div class="align-center">
          <div class="tag-label">
            <div class="inside-animation">glass</div>
          </div>
          <p class="regular-text">x 2</p>
        </div>
      </div>

      <a href="#" class="link">See more tags</a>
    </div>
    <div class="right-side-container">
      <div class="right-headline">
        <h4>HOT QUESTIONS</h4>
      </div>

      <div class="flex-vertical-container">
        <div class="flex">
          <figure>
            <img src="https://randomuser.me/api/portraits/lego/6.jpg " alt="Lego User" class="user-image">
          </figure>
          <a href="#" class="link">What are the best mobile apps for traveling?</a>
        </div>
        <div class="flex">
          <figure>
            <img src="https://randomuser.me/api/portraits/lego/3.jpg " alt="Lego User" class="user-image">
          </figure>
          <a href="#" class="link">What are the best mobile apps for traveling?</a>
        </div>
        <div class="flex">
          <figure>
            <img src="https://randomuser.me/api/portraits/lego/2.jpg " alt="Lego User" class="user-image">
          </figure>
          <a href="#" class="link">What are the best mobile apps for traveling?</a>
        </div>
        <div class="flex">
          <figure>
            <img src="https://randomuser.me/api/portraits/lego/1.jpg " alt="Lego User" class="user-image">
          </figure>
          <a href="#" class="link">What are the best mobile apps for traveling?</a>
        </div>
      </div>
    </div>
  </aside>