@import '../../../styles/variables'; 

  .tag-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 0;
  }

  @media only screen and (max-width: 650px) {
  
    .tag-container {
      flex-wrap: wrap;
    }
  }
  